[Unit]
Description=Gunicorn server for SITENAME


[Service]
Restart=on-failure
User=zsc
WorkingDirectory=/home/zsc/sites/SITENAME/source
ExecStart=/home/zsc/sites/SITENAME/virtualenv/bin/gunicorn --bind unix:/tmp/SITENAME.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target